main {
  background-color: rgb(82, 23, 81);
  padding: 10px;
  width: 1000px;
  margin: auto;
}

ul {
  background-color: rgb(250, 146, 63);
  list-style: none;
  width: 800px;
  margin: 10px auto;
  padding: 10px;
  display: grid;
  /* We should add the display: grid; property to the "parent" which contains the
  items we want to align. */

  /* grid-template-columns: 400px 400px; */
  /* creating two columns with the width of 400px. But we don't actually use pixels to
  define the sizes of columns. Instead we use something called "fractions". Fractions
  divide the available width of the parent element (800px) into equal parts and assign
  them to the grid elements. */
  grid-template-columns: 1fr 1fr;

  gap: 100px 200px;
  /* defines the gap between grid elements. */
}

li {
  background-color: rgb(238, 212, 192);
  text-align: center;
  width: 200px;
  margin: 20px auto;
}
